
.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 50px;
  margin-top: 58px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: blueviolet;
  display: block;
  margin-bottom: 10px;
}

.sidenav a:hover {
  color: blue;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media (max-width: 768px) {
    .sidenav {
        display: none;
    }
}
@media screen and (max-height: 450px) {
 .sidenav { 
display: none;
 }
}

.bodydiv{
  padding: 65px;
}
.form-control:focus {
        border-color: #FF5F6D;
        box-shadow: none !important
}





/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
    width: 50px;
    height: 50px;
   border-radius: 50%;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}




